<div class="container">
  <h1>Listado de empleados</h1>
  
  <form [formGroup]="searchForm" class="d-flex align-items-center mb-3">
    <div class="me-2" style="flex: 1 1 auto; max-width: 200px;">
      <select class="form-select" formControlName="documentType">
        <option value="">Seleccione tipo de documento</option>
        <option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
    <div class="me-2" style="flex: 1 1 auto; max-width: 200px;">
      <input type="text" class="form-control" formControlName="documentNumber" placeholder="Número de Documento">
    </div>
    <button type="button" class="btn btn-primary me-2" (click)="searchEmployees()">Buscar</button>
    <button type="button" class="btn btn-success rounded-circle p-2 d-flex align-items-center justify-content-center" (click)="createEmployee()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
    </button>
  </form>
  
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo de Documento</th>
        <th>Número de Documento</th>
        <th>Tipo de Empleado</th>
        <th>Fecha de Contratación</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.documentType }}</td>
        <td>{{ employee.documentNumber }}</td>
        <td>{{ employee.employeeType }}</td>
        <td>{{ employee.hiringDate }}</td>
        <td>{{ employee.active ? 'Sí' : 'No' }}</td>
        <td>
          <button type="button" class="btn btn-warning btn-sm me-1" (click)="updateEmployee(employee)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteEmployee(employee)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>